@layer theme {
  :root {
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-size: medium;
    --color-scheme: dark light;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  * {
    font-family: inherit;
    accent-color: var(--color-one);
    scrollbar-color: var(--color-one) var(--color-tint);
    scrollbar-width: thin;
  }

  body {
    background-color: var(--color-untint);
    min-height: 100%;
    font-size: var(--font-size);
    font-family: var(--font-family), sans-serif;
    color: var(--color-text);
    overflow: scroll;
  }

  html {
    height: 100%;
    color-scheme: var(--color-scheme);
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  a {
    --fore: var(--color-one);
    text-decoration: none;

    &:link {
      --fore: var(--color-one);
    }

    &:hover {
      --fore: var(--color-one-300);
    }

    &:visited {
      --fore: var(--color-one-500);
    }

  }

  img:empty {
    background-color: var(--color-tint-alpha-1);
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    line-height: 140%;
  }

}
